# Project exclude paths
/.gradle/
/build/
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/BukkitCommands.iml
.idea/compiler.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/
.idea/uiDesigner.xml
.idea/vcs.xml
BukkitCommands.iml
src/main/resources/
src/test/
